<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>ChatApp | {% block title %}{% endblock title %}</title>
</head>
<body>
    
    {% block body %}
        
    {% endblock body %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type = "text/javascript" >

        const chatSocket = new WebSocket('ws://'+window.location.host+'/ws/chat/{{room_no}}/');
        document.querySelector('#sendbtn').onclick= function(e){
            const message = document.querySelector('#messageInput').value;
            chatSocket.send(JSON.stringify({'message':'{{username}}: '+message}));
            document.querySelector('#messageInput').value = '';
        }

        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data);
            document.querySelector('#message').innerHTML += '<div class="text-success bg-white"><p>'+data.message+'</p></div>'
        }

    </script>
</body>
</html>