{% extends 'base.html' %}
{% load static %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
                    <div class="container">
                        <h1 class="text-center">Welcome to {{room_no}}</h1>
                

                        <div id="message" >
                            
                        </div>

                        <div class="d-flex justify-content-centre">
                            <input id="messageInput" class="form-control" type="text" name="">
                            <input id="sendbtn" class="btn btn-info" type="submit" value="Send">
                        </div>
                    </div>
        </div>
    </div>
{% endblock body %}
    